@model FinanzasCF.ViewModel.Persona.ListViewModel
<h1 class="page-header">Personas Listado</h1>
<form action="@Url.Action("Listado")" method="post">
    <div class="form-group">
        <h4>Filtro: </h4>
        <br>
        <button type="submit" class="btn btn-primary">Filtrar</button>
        <hr />
    </div>
</form>
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var persona in Model.listPersonas)
                {
                <tr>
                    <th>@persona.Nombre</th>
                    <th>@persona.Apellido</th>
                    <th><a class="btn btn-primary btn-block" href="@Url.Action("AddEdit",new {IDPersona=persona.IDPersona})">Editar</a></th>
                    <th><a class="btn btn-primary btn-block" href="@Url.Action("Eliminar",new {IDPersona=persona.IDPersona})">Eliminar</a></th>
                </tr>
                } 
             }
        </tbody>
    </table>
</div>
<a class="btn btn-primary" href="@Url.Action("AddEdit",new {IDPersona=0})">+ Agregar Individuo</a>

